*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background: rgba(0,0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
#check{
    display:none;
}
.icons{
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
    cursor: pointer;
}
.navbar a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: 1.5rem;
}
.home-1{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    background: #ffd700;
    justify-content: space-between;
    align-items: center;
}

.home-1-content {
    max-width: 50%;
}

.home-1 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-1 p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home-1 .btn {
    background: #ff4757;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 20px;
}

.home-1 .btn:hover {
    background: #e43f5a;
}
.about, .Activities{
    padding: 50px;
    text-align: center;
}
.text-h2{
    color: #ffd700;
    margin-bottom: 20px;
}
.Activities-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Activities-item{
    flex-basis: 30%;
}

.Activities-item img {
    max-width: 100%;
    height: 35vh;
    border-radius: 10px;
}
/*facilities */
html{
    scroll-behavior: smooth;
}


@media(max-width:920px){
    #header{
        padding: 1.3rem 5%;
    }
}

/* Tablet Devices */
@media (max-width: 760px) {
    .icons{
        display: flex;
    }
    #closeicon{
        display: none;
    }
    #check:checked~.icons #menuicon{
        display: none;
    }
    #check:checked~.icons #closeicon{
        display: block;
    }
    #check:checked~.navbar{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: gainsboro;
        width: 100%;
        display: none;
    }
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0px;
        font-weight: 600;
    }
    .home-1{
        flex-wrap: wrap;
    }
    .Activities-box{
        flex-direction: column;
    }

    .Activities-item{
        margin-bottom: 20px;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.8em;
    }

    .hero p {
        font-size: 1em;
    }

    .service-item {
        text-align: center;
    }
}